/**
   News Page Rule Sets
**/

.news-contents {
   margin-top: 5.5em;

   img {
      max-height: 30em;
      max-width: 60em;
   }
}



// .news__carousel {
//    position: relative;
// }

// .news-slides {
//    display: none;
//    position: relative;
//    z-index: -1;
//    width: 100%;
//    opacity: 0.6;
//    @include respond-to("large") {
//       // width: 10%;
//       max-height: 36rem;
//    }
// }

// button {
//    background: none;
//    border: none;
//    padding: 0;
//    position: absolute;
//    top: 0;
//    height: 100%;
//    background-color: rgba(255, 255, 255, 0.5);

//    &:active {
//       border: none;
//    }
//    &:visited {
//       border: none;

//    }

//    .svg_btn {
//       width: 3.8rem;
//       position: relative;

//       @include respond-to("medium") {
//          width: 6rem;
//       }

//       @include respond-to("large") {
//          width: 8rem;
//       }
//       path {
//          fill: rgb(8, 8, 8);
//       }

//       &.svg_btn__prev {
//          top: 4rem;
//          @include respond-to("medium") {
//             top: 6rem;
//          }
//          @include respond-to("large") {
//             top: 10rem;
//          }
//       }

//       &.svg_btn__next {
//          bottom: 4rem;
//          @include respond-to("medium") {
//             bottom: 6rem;
//          }
//          @include respond-to("medium") {
//             bottom: 10rem;
//          }
//       }
//    }

//    &.button__prev {
//       left: 0;
//    }

//    &.button__next {
//       right: 0;
//       transform: scale(-1, -1);
//    }
// }

// button:hover,
// button:hover .svg_btn path {
//    fill: #003e5a;
//    background-color: rgba(255, 255, 255, 0.808);
// }

.news__story {
   padding-top: 1.875rem;
   padding-bottom: 1.875rem;

   padding: 1.875rem inherit;
   .title {
      h6 {
         margin-top: -0.2rem;
      }
   }

   p {
      padding-top: 1rem;
      text-align: justify;
   }
}
