@mixin dimension($zindex: 1, $position: absolute, $height: auto, $width: auto, $top: auto, $bottom: auto, $left: auto) {
   z-index: $zindex;
   position: $position;
   height: $height;
   width: $width;
   top: $top;
   bottom: $bottom;
   left: $left;
}

@mixin respond-to($name) {
   @if map-has-key($breakpoints, $name) {
      // Prints a media query based on the value
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }

}