$font-primary: #ffffff;
$primary-color: #007db5;
$secondary-color: #000000b3;
$tertiary-sidenav-color: #04AEF9;

$breakpoints: (
   "medium": (
      min-width: 768px
   ),
   "large": (
      min-width: 1024px
   ),
);
